@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body.dark-mode {
    background-color: black;
    color: white; 
}

#theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white; 
}

#theme-toggle.dark-mode {
    color: white;
}

.dark-mode body {
    background-color: black;
    color: white;
}

.dark-mode .header {
    background-color: #333; 
}

.dark-mode .top-bar {
    background-color: #333;
    color: white;
}
.dark-mode #currencySelector {
    background-color: #333; 
    color: white;
}

.dark-mode .navbar ul li a {
    color: white;
}

.dark-mode .navbar ul li a:hover {
    color: #ffcc80; 
}

.dark-mode .menu a:hover::after {
    background-color: #ffcc80;
}

.dark-mode .submenu #carrito {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
}

.dark-mode table th, .dark-mode table td {
    color: white;
}

.dark-mode .borrar {
    background-color: #555; 
    color: white;
}

.dark-mode .search-bar input, .dark-mode .search-bar select, .dark-mode .search-bar button {
    background-color: #555; 
    color: white;
}

.dark-mode .search-bar-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}

/*Texto inicial*/
.dark-mode .info {
    background-color: #333; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.dark-mode .text-content h1 {
    color: white; 
}

.dark-mode .text-content p {
    color: white; 
}

.dark-mode .footer-container {
    background-color: #333; 
    color: white;
}

.dark-mode .footer-bottom {
    background-color: #ffcc80;
    color: black;
}

.dark-mode #chatbot-container {
    background-color: #212121;
    color: white;
}

.dark-mode #chatbot-input input {
    border: 1px solid #464646;
    background-color: #232323;
    color: white;
}

.dark-mode #chatbot-input button {
    background-color: #ffcc80;
    color: black;
}

.dark-mode .bot-message {
    background-color: #333333;
    color: white;
}

.dark-mode .user-message {
    background-color: #ffcc80;
    color: black;
}